<section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contact me</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Feel free to reach out if you're a direct representative of the company and have an interesting opportunity (or if you just want to say hi ;) ). Please note that I appreciate direct communication and prefer to engage with individuals directly involved in the company's recruitment efforts. Looking forward to hearing from you!</p>
        <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center">
          <a class="pr-4" target="_blank" href="mailto:developer@jimmynguyen.nl?SUBJECT=New opportunity!" aria-label="Mail jimmy">
            <i  class="fa fa-envelope" style="font-size:48px"></i>
          </a>
          <a class="pr-4" target="_blank" href="https://www.linkedin.com/in/jimmy-nguyen-software-engineer/" aria-label="Go to my LinkedIn page">
            <i class="fa fa-linkedin-square" style="font-size:48px"></i>
          </a>
          <a target="_blank" href="https://github.com/Stukongeluk" aria-label="Go to my Github page">
            <i class="fa fa-github-square" style="font-size:48px"></i>
          </a>
        </p>
    </div>
  </section>